.friendCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .name {
    font-size: 20px;
    font-weight: 500;
  }
  
  .online {
    color: green;
  }
  .offline {
    color: red;
  }